<div>
  <h2>Songpost</h2>

</div>

<div class="card-body">
 <div class="columns">
  <div class="column">
    First column
  </div>
  <div class="column">
    Second column
  </div>
  <div class="column">
    Third column
  </div>
  <div class="column">
    Fourth column
  </div>
</div>
  <p>
    I love this song omg!!! The beat is cool and the artist is my favorite.
  </p>
</div>