<div class="section form-box">
  <div class="button-box">
    <div class="btn"></div>
    <button class="toggle-btn">Login</button>
    <button class="toggle-btn">Signup</button>
  </div>
  <form id="login" class="input-group">
    <input
      type="text"
      class="input-field"
      id="input-username"
      placeholder="Username"
      required
    />
    <input
      type="text"
      class="input-field"
      id="input-password"
      placeholder="Enter Password"
      required
    />
    <input type="checkbox" class="checkbox" /><span>Remember Password</span>
    <button type="submit" class="submit-btn">Log In</button>
  </form>
  <form id="register" class="input-group">
    <input
      type="text"
      class="input-field"
      id="input-username"
      placeholder="Username"
      required
    />
    <input
      type="email"
      class="input-field"
      id="input-username"
      placeholder="Email"
      required
    />
    <input
      type="text"
      class="input-field"
      id="input-password"
      placeholder="Enter Password"
      required
    />
    <input type="checkbox" class="checkbox" /><span>I agree to the terms and
      conditions</span>
    <button type="submit" class="submit-btn">Register</button>
  </form>
</div>