<div class="form-box new-post-box">
  <button class="button exit-button">x</button>
  <form class="post-container post-form">
    <div class="song-info-box">
      <div class="spotify-link-container">
        <p class="spotify-link-text">Post your spotify link!</p>
        <input
          type="text"
          class="input spotify-link-box"
          placeholder="Spotify Link"
          required
        />

      </div>
    </div>
    <div class="comment-info-box">
      <textarea
        type="text"
        class="textarea is-large comment-box"
        placeholder="Write post here..."
        required
      ></textarea>
      <button type="submit" class="button post-button">Post</button>
    </div>
  </form>
</div>
<script src="./js/newpost.js">
</script>