<div>
  <h2>Songpost</h2>
  <p>
    I love this song omg!!! The beat is cool and the artist is my favorite.
  </p>

</div>

<div class="card-body">
 <br class="columns">
  <div class="column">
    First column
  </div>
  <div class="column">
    Second column
  </div>
  <div class="column">
    Third column
  </div>
  <div class="column">
    Fourth column
  </div>
  <br></br>
  <button id="the-btn">
    Reply</button>
</div>
</div>
